<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Nombre de Commits par Minute</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div id="chart_div"></div>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            fetch('/commits-data/')
                .then(response => response.json())
                .then(data => {
                    var dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('string', 'Minute');
                    dataTable.addColumn('number', 'Commits');

                    data.results.forEach(entry => {
                        dataTable.addRow([entry.minute, entry.commits]);
                    });

                    var options = {
                        title: 'Nombre de Commits par Minute',
                        curveType: 'function',
                        legend: { position: 'bottom' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(dataTable, options);
                });
        }
    </script>
</body>
</html>
